# Base Application URL
BASE_URL=https://eventmanage-wheat.vercel.app

# Student Credentials
STUDENT_ID=23A81A0001
STUDENT_PASSWORD=student123

# Admin Credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123

# API Base URL
API_BASE_URL=https://eventmanage-wheat.vercel.app
